[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[dev-packages]
autoflake8 = "*"
awscli = "==1.29.62"
black = "*"
boto3 = "*"
flake8 = "*"
isort = "*"
pep8-naming = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
shub = "*"
pipenv = "*"
bigquery-schema-generator = "*"

[packages]
babel = "*"
boto3 = "*"
brotli = "*"
chompjs = "*"
cryptography = "*"
geonamescache = "*"
geopandas = "*"
ijson = "*"
json5 = "*"
openpyxl = "*"
phonenumbers = "*"
phpserialize = "*"
pyarrow = "*"
pycountry = "*"
pygeohash = "*"
pygithub = "*"
pyproj = "*"
python-json-logger = "*"
requests = "*"
requests-cache = "*"
reverse-geocoder = "*"
scrapy = "*"
scrapy-playwright = "*"
scrapy-zyte-api = "*"
shapely = "*"
twisted = {extras = ["http2"], version = "*"}
tzdata = "*"
unidecode = "*"
xmltodict = "*"
scrapy-zyte-smartproxy = "*"
spidermon = {version = "*", extras = ["monitoring", "validation"]}
google-cloud-storage = "*"
google-cloud-logging = "*"
google-cloud-firestore = "*"
firebase-admin = "*"
msgpack-python = "*"
mergedeep = "*"
botocore = "==1.31.62"
rsa = "<4.8,>=3.1.2"
s3transfer = "<0.8.0,>=0.7.0"
