[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[dev-packages]
autoflake8 = "*"
awscli = "*"
black = "*"
boto3 = "*"
flake8 = "*"
isort = "*"
pep8-naming = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"

[packages]
babel = "*"
boto3 = "*"
brotli = "*"
chompjs = "*"
cryptography = "*"
geonamescache = "*"
geopandas = "*"
ijson = "*"
json5 = "*"
openpyxl = "*"
phonenumbers = "*"
phpserialize = "*"
pyarrow = "*"
pycountry = "*"
pygeohash = "*"
pygithub = "*"
pyproj = "*"
python-json-logger = "*"
requests = "*"
requests-cache = "*"
reverse-geocoder = "*"
scrapy = "*"
scrapy-playwright = "*"
scrapy-zyte-api = "*"
shapely = "*"
twisted = {extras = ["http2"], version = "*"}
tzdata = "*"
unidecode = "*"
xmltodict = "*"
