[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
awscli = "*"
boto3 = "*"
pylint = "*"
pytest = "*"
black = "*"
autoflake8 = "*"
flake8 = "*"
pep8-naming = "*"
isort = "*"
pre-commit = "*"
exceptiongroup = "*"

[packages]
scrapy = "*"
pygithub = "*"
python-json-logger = "*"
boto3 = "*"
geonamescache = "*"
json5 = "*"
brotli = "*"
chompjs = "*"
phonenumbers = "*"
xmltodict = "*"
scrapy-playwright = "*"
requests-cache = "*"
requests = "*"
pycountry = "*"
pyproj = "*"
reverse-geocoder = "*"
ijson = "*"
tzdata = "*"
unidecode = "*"
pygeohash = "*"
scrapy-zyte-api = "*"
cryptography = "*"
