import chompjs

from locations.categories import Categories, apply_category
from locations.json_blob_spider import JSONBlobSpider


class $classname(JSONBlobSpider):
    name = "$name"
    item_attributes = {
        # Uncomment and populate if known
        # "brand": "$brand",
        # "brand_wikidata": "$brand_wikidata",
        # "operator": "$operator",
        # "operator_wikidata": "$operator_wikidata",
    }
    start_urls = ["$url"]
    # no_refs = True

    def extract_json(self, response):
        return chompjs.parse_js_object(
            response.xpath('//script[contains(text(), "var locations = ")]/text()').get()
        )

    def post_process_item(self, item, response, location):
        # apply_category(Categories.SHOP_XYZ, item)
        yield item
